// Colors:
$color-blue-dark: #13183f;
$color-blue-light: #666ca3;
$color-grey: #83869a;
$color-pink-dark: #f74780;
$color-pink-light: #ffa7c3;
$color-orange-gradient: #ff6f48;
$color-pink-gradient: #f02aa6;
$color-blue-gradient: #4851ff;
$color-white: #ffffff;
$color-background: #f2f2f2;

// Fonts:
$font-primary: "Plus Jakarta Sans";

// Mixins: Media query

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 85em) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media (max-width: 48em) {
      @content;
    }
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary, sans-serif;
  font-size: 1.6rem;
  background-color: $color-background;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    180deg,
    $color-white 50%,
    rgba(72, 81, 255, 0.1) 100%
  );

  @include respond(tablet) {
    max-width: 76.8rem;
  }

  @include respond(phone) {
    max-width: 37.5rem;
  }
}

button,
a {
  cursor: url("../assets/Pointer.svg"), auto;
}
