.hero {
  position: absolute;
  right: -33.563rem;
  top: -14.613rem;

  @include respond(tablet) {
    top: -9.213rem;
    right: -29.771rem;
  }
}

.header {
  display: grid;
  max-width: 111rem;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2.4rem;

  @include respond(tablet) {
    max-width: 68.9rem;
  }

  &__logo {
    width: 11.117rem;
    height: 2.768rem;
    transform: translateY(50%);

    @include respond(tablet) {
      width: 8.9rem;
      height: 2.216rem;
    }
  }
  &__cta {
    justify-self: end;
    margin-bottom: 17.2rem;
    &--btn {
      font-weight: 700;
      font-size: 1.8rem;
      border: none;
      background-color: $color-blue-dark;
      color: $color-white;
      width: 16.7rem;
      height: 5.6rem;
      border-radius: 2.8rem;
      position: relative;

      @include respond(tablet) {
        font-size: 1.6rem;
        width: 14rem;
        height: 4.8rem;
      }

      &:hover,
      :active {
        background-color: $color-blue-light;
      }
    }
  }

  &__description {
    max-width: 45.7rem;
    &--headline {
      color: $color-blue-dark;
      font-weight: 800;
      font-size: 5.6rem;
      line-height: 7.1rem;
      margin-bottom: 2.9rem;

      @include respond(tablet) {
        font-size: 4rem;
        line-height: 5rem;
        margin-bottom: 2.5rem;
      }
    }
    &--text {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: $color-grey;
      margin-bottom: 4rem;

      @include respond(tablet) {
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 2.4rem;
      }
    }
    &--btn {
      width: 16.7rem;
      height: 6.3rem;
      margin-bottom: 25rem;
      background: linear-gradient(
        180deg,
        $color-orange-gradient 0%,
        $color-pink-gradient 100%
      );
      border: none;
      color: $color-white;
      font-size: 1.8rem;
      font-weight: 700;
      border-radius: 3.15rem;

      @include respond(tablet) {
        font-size: 1.6rem;
        height: 5.6rem;
        margin-bottom: 21rem;
      }

      &:hover,
      :active {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
          ),
          linear-gradient(
            180deg,
            $color-orange-gradient 0%,
            $color-pink-gradient 100%
          );
      }
    }
  }
}
