*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #f2f2f2;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
@media (max-width: 90em) {
  .container {
    max-width: 76.8rem;
  }
}
@media (max-width: 48em) {
  .container {
    max-width: 37.5rem;
  }
}

button,
a {
  cursor: url("../assets/Pointer.svg"), auto;
}

.hero {
  position: absolute;
  right: -33.563rem;
  top: -14.613rem;
}
@media (max-width: 90em) {
  .hero {
    top: -9.213rem;
    right: -29.771rem;
  }
}
@media (max-width: 48em) {
  .hero {
    position: relative;
    top: 0;
    right: 3rem;
    text-align: center;
    margin-bottom: 6.6rem;
  }
}

.header {
  display: grid;
  max-width: 111rem;
  margin: 0 auto;
  grid-template-columns: 44rem 1fr;
  margin-top: 2.4rem;
}
@media (max-width: 90em) {
  .header {
    max-width: 68.9rem;
    grid-template-columns: 40rem 1fr;
  }
}
@media (max-width: 48em) {
  .header {
    max-width: 32.7rem;
    margin-top: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.header__logo {
  width: 11.117rem;
  height: 2.768rem;
  transform: translateY(50%);
}
@media (max-width: 90em) {
  .header__logo {
    width: 8.9rem;
    height: 2.216rem;
  }
}
.header__cta {
  justify-self: end;
  margin-bottom: 17.2rem;
}
@media (max-width: 48em) {
  .header__cta {
    margin-bottom: 3.8rem;
  }
}
.header__cta--btn {
  font-weight: 700;
  font-size: 1.8rem;
  border: none;
  background-color: #13183f;
  color: #ffffff;
  width: 16.7rem;
  height: 5.6rem;
  border-radius: 2.8rem;
  position: relative;
}
@media (max-width: 90em) {
  .header__cta--btn {
    font-size: 1.6rem;
    width: 14rem;
    height: 4.8rem;
  }
}
.header__cta--btn:hover,
.header__cta--btn :active {
  background-color: #666ca3;
}
.header__description {
  max-width: 45.7rem;
}
@media (max-width: 48em) {
  .header__description {
    grid-column: 1/-1;
  }
}
.header__description--headline {
  color: #13183f;
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 7.1rem;
  margin-bottom: 2.9rem;
}
@media (max-width: 90em) {
  .header__description--headline {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 48em) {
  .header__description--headline {
    margin-bottom: 2.6rem;
  }
}
.header__description--text {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #83869a;
  margin-bottom: 4rem;
}
@media (max-width: 90em) {
  .header__description--text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 2.4rem;
  }
}
.header__description--btn {
  width: 16.7rem;
  height: 6.3rem;
  margin-bottom: 25rem;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border: none;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 3.15rem;
}
@media (max-width: 90em) {
  .header__description--btn {
    font-size: 1.6rem;
    height: 5.6rem;
    margin-bottom: 21rem;
  }
}
@media (max-width: 48em) {
  .header__description--btn {
    margin-bottom: 4.6rem;
  }
}
.header__description--btn:hover,
.header__description--btn :active {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.features {
  max-width: 111rem;
  margin: 0 auto 14rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 8rem;
}
@media (max-width: 90em) {
  .features {
    max-width: 69.8rem;
    margin: 0 auto 8.6rem auto;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 5.6rem;
  }
}
@media (max-width: 48em) {
  .features {
    grid-template-columns: 1fr;
    margin-bottom: 8rem;
    max-width: 32.7rem;
    row-gap: 4rem;
  }
}
.features__feature {
  display: grid;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 2.5rem 5rem rgba(6, 22, 141, 0.0442381);
  padding: 0 3.2rem 4rem 3.2rem;
}
@media (max-width: 90em) {
  .features__feature {
    border-radius: 1rem;
  }
}
.features__feature--checkout {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  height: 100%;
  border-radius: 1.5rem;
  color: #ffffff;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 800rem;
  padding: 6.4rem 3.2rem 13.8rem 3.2rem;
}
@media (max-width: 90em) {
  .features__feature--checkout {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
@media (max-width: 48em) {
  .features__feature--checkout {
    padding: 2.4rem 2.9rem 3.2rem 2.8rem;
  }
}
.features__feature--icon {
  transform: translateY(-2.4rem);
  margin-bottom: 0.8rem;
}
@media (max-width: 90em) {
  .features__feature--icon {
    margin-bottom: 0;
  }
}
.features__feature--headline {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 800;
  color: #13183f;
  line-height: 3rem;
}
@media (max-width: 90em) {
  .features__feature--headline {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.6rem;
  }
}
.features__feature--text {
  margin-bottom: 2.4rem;
  color: #83869a;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
}
@media (max-width: 90em) {
  .features__feature--text {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
.features__feature--link {
  text-decoration: none;
  align-self: end;
  color: #f74780;
  font-size: 1.8rem;
  line-height: 2.8px;
  font-weight: 700;
}

.footer {
  background-color: #13183f;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 16.5rem;
}
@media (max-width: 90em) {
  .footer {
    padding: 3.6rem 4rem;
  }
}
.footer__img {
  width: 11.117rem;
  height: 2.768rem;
}
@media (max-width: 90em) {
  .footer__img {
    width: 8.9rem;
    height: 2.216rem;
  }
}
.footer__btn {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  font-style: normal;
  line-height: 2.8rem;
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  border: none;
  border-radius: 2.8rem;
  width: 16.7rem;
  height: 5.6rem;
}
@media (max-width: 90em) {
  .footer__btn {
    font-size: 1.6rem;
    width: 14rem;
    height: 4.8rem;
  }
}
.footer__btn:hover,
.footer__btn :active {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}/*# sourceMappingURL=main.css.map */